# Java build
**/target/
**/build/
*.class
*.jar
*.war
*.ear

# IDEs
**/.idea/
**/.classpath
**/.project
**/.settings/
*.iml
*.ipr
*.iws

# Logs
*.log

# OS
.DS_Store
**/.DS_Store
Thumbs.db

# VSCode
.vscode/

# Node / Frontend
node_modules/
dist/
build/

# Others
.env
*.bak
