<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g65.repository.mapper.AttractionMapper">

    <resultMap id="dataMap" type="g65.repository.po.AttractionPO">
        <id column="location_id" property="locationId"/>
        <result column="item_id" property="itemId"/>
        <result column="name" property="name"/>
        <result column="image_url" property="imageUrl"/>
        <result column="rating" property="rating"/>
        <result column="description" property="description"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="queryAttractionListByStateOrderByRating"
            parameterType="java.lang.String"
            resultMap="dataMap">
        select * from Attractions where state = #{state} order by rating desc limit 10
    </select>
</mapper>