<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g65.repository.mapper.CollectionMapper">

    <resultMap id="attractionMap" type="g65.repository.po.AttractionPO">
        <id column="id" property="locationId"/>
        <result column="item_id" property="itemId"/>
        <result column="name" property="name"/>
        <result column="image_url" property="imageUrl"/>
        <result column="rating" property="rating"/>
        <result column="description" property="description"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="findByFileId"
            parameterType="java.lang.Integer"
            resultMap="attractionMap">
        SELECT
            a.id            AS id,
            c.item_id       AS item_id,
            a.name          AS name,
            a.image_url     AS image_url,
            a.rating        AS rating,
            a.description   AS description,
            a.state         AS state
        FROM Collection_File cf
                 JOIN Collections  c ON cf.file_id = c.file_id
                 JOIN Items        i ON c.item_id  = i.item_id
                 JOIN Attractions  a ON i.item_id  = a.item_id
        WHERE i.type = 'attraction'
          AND cf.file_id = #{fileId}
    </select>

    <delete id="deleteByFileIdAndItemId">
        DELETE
        FROM Collections
        WHERE file_id = #{fileId}
        AND item_id IN
        <foreach collection="itemIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertMapping">
        INSERT INTO Collections (file_id, item_id)
        VALUES (#{fileId}, #{itemId})
    </insert>

    <select id="countByUserIdAndItemId"
            resultType="int">
        SELECT COUNT(1)
        FROM Collections c
                 JOIN Collection_File cf ON c.file_id = cf.file_id
        WHERE cf.user_id = #{userId}
          AND c.item_id = #{itemId}
    </select>

</mapper>