<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g65.repository.mapper.CollectionFileMapper">

    <resultMap id="dataMap" type="g65.repository.po.CollectionFilePO">
        <id column="file_id" property="fileId"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="findByUserId"
            parameterType="java.lang.Integer"
            resultMap="dataMap">
        select * from Collection_File where user_id = #{userId}
    </select>

    <delete id="deleteUserCollectionFile">
        delete from Collection_File where user_id = #{userId} and file_id = #{fileId}
    </delete>

    <select id="countByUserIdAndFileId" resultType="int">
        select count(1) from Collection_File where user_id = #{userId} and file_id = #{fileId}
    </select>

    <insert id="insert"
            parameterType="g65.repository.po.CollectionFilePO"
            useGeneratedKeys="true"
            keyProperty="fileId">
        INSERT INTO Collection_File (user_id, name)
        VALUES (#{userId}, #{name})
    </insert>

    <update id="updateNameByUserIdAndFileId">
        UPDATE Collection_File
        SET name = #{newName}
        WHERE user_id = #{userId}
          AND file_id = #{fileId}
    </update>

    <update id="transferCollectionItems">
        START TRANSACTION;

        INSERT IGNORE INTO Collections (file_id, item_id)
        SELECT #{targetFileId}, item_id
        FROM Collections
        WHERE file_id = #{sourceFileId}
        AND item_id IN
        <foreach collection="itemIds" item="itemId" open="(" separator="," close=")">
            #{itemId}
        </foreach>;

        DELETE FROM Collections
        WHERE file_id = #{sourceFileId}
        AND item_id IN
        <foreach collection="itemIds" item="itemId" open="(" separator="," close=")">
            #{itemId}
        </foreach>;

        COMMIT;
    </update>

</mapper>